/* Footer design */
/* Footer design */
#footer{background-color: #353535;
        color: grey;
        padding: 20px;
        li { padding: 20px;
          a {color: grey;
          &:hover {color: yellow;}}}}
